*{
	box-sizing: border-box;
	padding: 0;
	border: 0;
}

.container{
	margin-top: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.result-box, input[type="text"]{
text-align: right;
font-size: 40px;
outline: none;
color: #fff;
width:260px;
height: 70px;
background-color: blue;
border-radius: 25px;
margin-bottom: 10px;
}
input[type="button"]{
	outline: none;
	width: 80px;
	height: 80px;
	color:#fff;
	margin: 0 10px 10px 0;
	border-radius: 25px;
	font-size: 40px;


}

.input-button1{
	display: flex;
}
span input[type="button"]{
	text-align: center;
    height: 70px;
	color: #fff;
	background-color:#889;
	font-size:40px; 
}

.Black-clr{
	background-color: black;
}
.orge-clr{
	background-color: orange;
}
.pink-clr{
	background-color: pink;
}
.lightgreen-clr{
	background-color: green;
}
.red-clr{
	background-color: red;
}
.green-clr{
	background-color: green;
}

p{
	text-align: center;
	color:black;
	font-style: italic;
	font-size: 14px;
}